.form-wrapper {
  @media (width >=900px) {
    padding: 0 150px;
  }
}

.form {
  color: color: var(--text-color);;
}

.form .field-wrapper {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  padding: 8px 0;

  &:first-child {
    padding-top: 0;
  }
}

.form fieldset {
  display: grid;
  grid-auto-flow: row;
  gap: 8px;
  border: none;
  padding: 0;
}

@media (width >= 900px) {
  .form fieldset {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

.form fieldset > legend {
  font-weight: 700;
  font-size: var(--heading-font-size-xs);
}

.form label {
  font-size: 16px;
  font-family: var(--heading-font-family);
  margin-bottom: 12px;
}

.form textarea {
  resize: vertical;
}



.form .field-wrapper > label {
  order: -1;
}

.form .selection-wrapper label {
  margin-bottom: 0;
}

.form input,
.form select,
.form textarea {
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  display: block;
  padding: 20px 0;
  border: 0;
  border-bottom: 1px solid #2c3443  ;
  color: var(--text-color);
  background-color: var(--background-color);

  &:focus-visible {
    outline: none;
    border-color: white;
  }

  &[type='checkbox'] {
    height: 20px;

    + label {
      color: var(--text-color);
      font-family: var(--body-font-family);
    }
  }
}

.form .selection-wrapper input {
  width: 16px;
}



.form .button {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  margin-top: 16px;
  border: none;
}

.form .field-wrapper.selection-wrapper {
  grid-auto-flow: column;
  justify-content: start;
  gap: 16px;
}

.form .field-wrapper.selection-wrapper > label {
  order: 1;
}

.form .toggle-wrapper .switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.form .toggle-wrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}

.form .toggle-wrapper .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--dark-color);
  transition: 0.4s;
  border-radius: 30px;
}

.form .toggle-wrapper .slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: var(--background-color);
  transition: 0.4s;
  border-radius: 50%;
}

.form .toggle-wrapper input:checked + .slider {
  background-color: var(--link-color);
}

.form .toggle-wrapper input:checked + .slider::before {
  transform: translateX(24px);
}
