.teaser-container {
    background-color: --var(--background-color);
    display: flex;
}

.teaser>div {
    display: flex;
    flex-direction: column;

    @media (width >=900px) {
        flex-direction: row;
    }
}

.teaser-content {
    width: 100%;
    margin-right: 60px;
    text-align: center;

    @media (width >=900px) {
        width: 50%;
        text-align: left;
        padding-top: 32px;
    }

    h1 {
        margin-bottom: 20px;
        font-size: 22px;
        font-feature-settings: normal;
        position: relative;
        line-height: 32px;

        @media (width >=900px) {
            font-size: 50px;
            line-height: 60px;
        }
    }

    h2 {
        line-height: 50px;
        min-height: calc(50px * 3 + 110px);
        
        @media (width >=900px) {
            font-size: 47px;
            line-height: 60px;
            min-height: calc(60px * 3 + 75px);
            margin-right: -100px;
        }
    }

    .button-container {
        display: flex;
        justify-content: center;

        @media (width >=900px) {
            display: block;
        }
    }
}

.teaser-headline {
    background-color: color-mix(in srgb, var(--link-color) 90%, white 40%);
    padding: 10px 20px 10px 36px;
    border-radius: 9999px;
    position: relative;
    bottom: 32px;

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 0.5rem;
        height: 0.5rem;
        background-color: var(--link-color);
        border-radius: 50%;
        top: 16px;
        left: 16px;
    }
}

.teaser-description {
    font-size: 16px;
    color: --var(--text-color);
    margin-bottom: 48px;
    margin-top: 0;
}

.teaser-image {
    width: 100%;

    @media (width >=900px) {
        width: 50%;
        margin-left: 24px;
    }

    p {
        position: relative;
        height: 560px;

        picture {
            &:first-child {
                position: absolute;
                right: 0;
            }

            &:last-child {
                position: absolute;
                top: 136px;
                left: 0;
                z-index: 0;

                @media (width >=600px) {
                    left: -40px;
                }

                &::before {
                    display: block;
                    position: absolute;
                    content: "";
                    width: 350px;
                    height: 420px;
                    left: 20px;
                    top: -24px;
                    z-index: -1;
                    background-color: #ffffff10;
                    backdrop-filter: blur(6px);
                    border: 1px solid #ffffff10;
                }

                @media (width >=768px) {
                    &::after {
                        content: "";
                        background: url("/icons/ball.svg");
                        opacity: 0.9;
                        width: 120px;
                        height: 120px;
                        position: absolute;
                        bottom: 10px;
                        right: -40px;
                        z-index: -2;
                    }
                }
            }
        }
    }
}

a.button.teaser-cta {
    background-color: var(--link-color);
    color: white;
    padding: 12px 24px;
    border-radius: 5px;
    width: 70%;

    @media (width >=900px) {
        width: 50%;
    }

    .icon {
        margin-left: 12px;
    }

    &:hover {
        opacity: 0.9;
    }
}
