.tabs-container {
  color: white;

  h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 20px;

    @media (width >=900px) {
      font-size: 40px;
    }
  }

  p {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
  }

  .default-content-wrapper {
    margin-bottom: 48px;
    text-align: center;

    @media (width >=900px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    h3 {
      font-size: 40px;
      font-weight: 800;
      -webkit-text-fill-color: transparent;
      opacity: 0.2;
      background: linear-gradient(180deg, #ffffff40 0%, #fff0 100%);
      font-family: var(--body-font-family);
      line-height: 40px;
      margin-bottom: 0;
      display: inline;
      padding: 0 32px;

      @media (width >=900px) {
        font-size: 95px;
        font-weight: 800;
        line-height: 140px;
        margin-bottom: -60px;
        margin-top: 0;
      }
    }

    h2 {
      @media (width >=900px) {
        font-size: 50px;
        margin-left: auto;
        margin-right: auto;
        max-width: 570px;
      }
    }

    p {
      @media (width >=900px) {
        margin-left: auto;
        margin-right: auto;
        max-width: 570px;
      }
    }
  }
}

.tabs-wrapper {
  background-image: url('/icons/background.svg');
  background-position: bottom;
  background-repeat: no-repeat;

  @media (width >=900px) {
    padding: 0 70px;
    padding-bottom: 70px;
  }
}

.tabs .tabs-list {
  display: flex;
  max-width: 100%;
  overflow-x: auto;

  @media (width >=900px) {
    justify-content: space-around;
  }
}

.tabs .tabs-list button {
  margin: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #4b4e56;
  padding: 8px 16px;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  transition: background-color 0.2s;

  p {
    color: white;
  }

  @media (width >=900px) {
    width: 100%;
    justify-content: center;
  }
}

.tabs .tabs-list button[aria-selected='true'] {
  border-bottom-color: var(--link-color);
}

.tabs .tabs-list button:hover {
  border-bottom-color: var(--link-color);
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 40px 20px 0;
  overflow: auto;

  @media (width >=900px) {
    display: flex;
    width: 65%;
    margin-left: -20px;
  }
}

.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}

.tab-picture {
  position: relative;
  height: 560px;

  @media (width >=900px) {
    width: 50%;
    padding: 0 16px;

    & + div {
      width: 50%;
      padding-left: 32px;
    }
  }

  picture {
    &:first-child {
      position: absolute;
      right: 0;
    }

    &:last-child {
      position: absolute;
      top: 80px;
      right: 0;
      z-index: 0;

      &::before {
        display: block;
        position: absolute;
        content: '';
        width: 350px;
        height: 400px;
        right: 20px;
        top: -20px;
        z-index: -1;
        background-color: #ffffff10;
        backdrop-filter: blur(6px);
        border: 1px solid #ffffff10;
      }

      &::after {
        content: '';
        background: url('/icons/wave.svg');
        width: 72px;
        height: 38px;
        position: absolute;
        top: 40px;
        right: 0;
        z-index: 0;
      }
    }
  }
}
