footer {
  padding: 2rem;
  background-color: rgb(17, 23, 34);
  font-size: 16px;
  color: rgb(121, 128, 138);
}

footer a:any-link {
  color: rgb(121, 128, 138);
}

footer a:any-link:hover {
  color: rgb(74, 108, 247);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .section .default-content-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}