footer {
  padding: 2rem;
  background-color: 	#111722;
  font-size: 16px;
  color: 	#79808a;
}

footer a:any-link {
  color: 	#79808a;
}

footer a:any-link:hover {
  color: var(--link-color);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .section .default-content-wrapper ul {
  list-style: none;
} 

@media (width >= 900px) {
  footer .section .default-content-wrapper{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
